* { box-sizing: border-box; }

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto';
}

.topnav-image {
  border-bottom: 10px solid #DDAA44;
  height: 300px;
  object-fit: cover;
  object-position: 1 0;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 150%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: fit-content;
}

.header h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #DDAA44; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 4s;
}

.header text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #DDAA44; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 4s;
}


.motto {
  display: flex;
  font-style: italic;
  position: absolute;
  justify-content: center;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  top: 125px;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  width: 50%;
  font-size: 150%;
  animation: fadeIn 2s;
}

@media screen and (max-width: 1300px) {
  .header {
    font-size: 2.2vw;
    top: 20vw;
  }
  .motto {
    font-size: 4vw;
    top: 30vw;
    width: 100%;
  }
}

.topnav-button1, .topnav-button2, .topnav-button3, .topnav-button4, .topnav-button5 {
  width: 200px;
  height: 100px;
  font-size: 200%;
  background-color: rgba(255, 255, 255, 0);
  border-width: 0;
}

@media screen and (max-width: 1300px) {
  .topnav-button1, .topnav-button2, .topnav-button3, .topnav-button4, .topnav-button5 {
  border-radius: 40px;
  }
}


.topnav .topnav-buttons {
  float:  right;
}

/*Navbarren (minus billede)*/
.topnav {
  background-color: #0b0535;
  height: 100px;
  width: 80%;
  position: absolute;
  top: 260px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 10px 1px rgb(0, 0, 0);
  transition: 1s;
}

.topnav-container .topnav-logo {
  height: 100px;
  width: 400px;
  float: left;
}

.topnav-button1:hover, .topnav-button2:hover, .topnav-button3:hover, .topnav-button4:hover, .topnav-button5:hover {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 8px 0.5px rgb(0, 0, 0);
}

.topnav a:link{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.topnav a:visited{
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.btn-active a:visited, .btn-active a:link {
  color: #DDAA44;
}
 
.btn-active a:hover {
color: white;
}
     
.topnav a {
  display: block;
  height: 100px;
  line-height: 100px;
}
    
.topnav.responsive a {
  display: block;
  height: 80px;
  line-height: 80px;
}

/*Kilde: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
/* Hide the link that should open and close the topnav on small screens */
.topnav-container .icon {
  display: none;
}

@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  100% {
      transform: scaleY(1)
  }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1300px) {
    .topnav-button1, .topnav-button2, .topnav-button3, .topnav-button4, .topnav-button5 {
    display: none;
  }
  .topnav-container .icon {
    display: inline-block;
    position: fixed;
    top: 15px;
    right: 15px;
    color: rgb(0, 0, 0);
    z-index: 4;
    text-shadow: -1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1300px) {
    .topnav.responsive .topnav-buttons { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    height: 350px;
    width: 100%;
    background-color: rgb(116, 116, 116);

    animation: growDown 0.5s ease-in-out forwards;
    transform-origin: top center;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    z-index: 4;
  }
  .topnav.responsive .topnav-button1 {
    display: block;
  }

   .topnav.responsive .topnav-button2 {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .topnav.responsive .topnav-button3 {
    display: block;
  }
}


/*Width and track */
::-webkit-scrollbar {
  width: 5px;
  background:rgb(255, 255, 255);
  border-radius: 10px;
}
  
/*Handle*/
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.rotate{
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down{
  -moz-transform:rotate(-450deg);
  -webkit-transform:rotate(-450deg);
  transform:rotate(-450deg);
}

.footer {
  background: #0B0535;;
  width: 100%;
  padding: 5px;
  z-index: 3;
  display: inline-block;
  box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
}

.footer-btn1, .footer-btn2, .footer-btn3 {
  border: none;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-size: 200%;
}

.footer-btn3 {
  font-size: 75%;
}

.mail-container {
  display: flex;
  float: left;
  align-items: center;
}

.phone-container {
  display: flex;
  float: left;
  align-items: center;
  margin-left: 30px;
}

.copyright-container {
  display: flex;
  float: right;
  margin-right: 2%;
  align-items: center;
}

.phone-container a:link, .phone-container a:visited {
text-decoration: none;
color: white;
}

.some-container {
  display: flex;
  float: right;
  margin-right: 2%;
  align-items: center;
}

.fa-facebook-square {
  margin-right: 50px;
}

@media screen and (min-width: 1300px) {
  .footer {
   position: fixed;
   bottom: 0;
  }
}

@media screen and (max-width: 1300px) {
.topnav-image {
  height: 60vw;
}
.topnav {
  top: 55vw;
  height: 10vw;
}
.topnav-container .topnav-logo {
  height: 10vw;
  width: 90%;
  margin-left: 5%; 
}
.footer {
  display: flex;
  flex-direction: column;
}
.mail-container {
  display: flex;
  justify-content: center;
}
.phone-container {
  display: flex;
  justify-content: center;
  margin:0;
  margin-bottom: 10px;
}
.copyright-container {
  display: flex;
  justify-content: center;
  margin:0;
  order: 4;
  margin-top: 10px;
}
.some-container {
  display: flex;
  justify-content: center;
}
.footer-btn1 {
  font-size: 100%;
}
.footer-btn2 {
  font-size: 150%;
}
.topnav-button1, .topnav-button2
  {
    margin:0;
  }
}

.fa-facebook-square:hover, .fa-instagram:hover, .fa-envelope:hover, .phone:hover, .phone-container:hover {
  animation: jump 1s;
  scale: 1.1;
}

@keyframes jump {
  100% { transform: translate(0%, -10%); }
}

@keyframes fadeIn { 
  0% { opacity: 0; }
  100% { opacity:1; }
}

.wrapper {
  min-height: 100%;
  margin-bottom: 200px;
  overflow: hidden;
}

.footer,
.push {
  height: 50px;
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
.footer,
.push {
  height: 150px;
  }
}

@media screen and (min-width: 1300px) {
  .topnav.fixed {
  background-color: #0b0535;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s;
  z-index: 3;
  }
}







