
.typewriter {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0.5vw;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 2vw;
  width: 75vw;
  /*
  font-size: 300%;
  width: 1000px;
  */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*https://css-tricks.com/snippets/css/typewriter-effect/*/
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #DDAA44; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/*
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
*/


.motto {
  font-style: italic;
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  top: 7vw;
  color: #0b0535;
  background-color: white;
  width: fit-content;
  font-size: 2vw;
  font-weight:900;
}

.offer-wrapper {
  position: absolute;
  top: 18vw;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image1 {
  width: 100%;
  height: 20vw;
}

.image2 {
  width: 100%;
  height: 20vw;
}

.image3 {
  width: 100%;
  height: 20vw;
}

.image4 {
  width: 100%;
  height: 20vw;
}

/*
.grid-container > * {
  padding: 20px;
  border: 5px solid rgb(198,164,154);
  background-color: rgba(198,164,154,.2);
  border-radius: 5px;
}

.grid-container2 > * {
  padding: 20px;
  border: 5px solid rgb(198,164,154);
  background-color: rgba(198,164,154,.2);
  border-radius: 5px;
}
*/

.grid-container {
  margin-top: 12vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.one {
  grid-column: 1/1;
  grid-row: 1/3;
  height: 20vw;
  margin-top: -5vw;
}

.two-three {
  grid-column: 2 / span 3;
  grid-row: 1/3;
  text-align: center;
  height: 20vw;
  margin-top: -5vw;
}

.four-five {
  grid-column: 1 / span 2;
  grid-row: 2/3;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 20vw;
  margin-top: -5vw;
}

.six{
  grid-column: 3/3;
  grid-row: 2/3;
  height: 20vw;
  margin-top: -5vw;
}

.seven {
  grid-column: 1/1;
  grid-row: 3/3;
  height: 20vw;
  margin-top: -5vw;
}

.eight-nine {
  grid-column: 2 / span 3;
  grid-row: 3/4;
  text-align: center;
  height: 25vw;
  margin-top: -5vw;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  margin-top: -5vw;
}

.ten-eleven {
  grid-column: 1 / span 2;
  grid-row: 1/1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 20vw;
}

.twelve {
  grid-column: 3/3;
  grid-row: 1/1;
  height: 20vw;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 150%;
}

.box h1 {
  font-size: 300%;
  color: #DDAA44;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}


@keyframes fade-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#Maps {
  width: 80%;
  height: 20vw;
  display: flex;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
.typewriter {
  font-size: 2.2vw;
  width: 100vw;
  top: 20vw;
}
.motto {
  font-size: 4vw;
  top: 30vw;
}
.offer-wrapper {
  top: 65vw;
  height: fit-content;
}
.grid-container {
  display: flex;
  flex-direction: column;
  margin-top: 225px;
}
.grid-container2 {
  display: flex;
  flex-direction: column;
}
.one {
  display: flex;
  justify-content: center;
  height: fit-content;
  order: 2;
  margin-bottom: 5vw;
}
.two-three {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 5vw;
  order: 1;
}
.four-five {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: white;
  margin-bottom: 5vw;
  order: 3;
}
.six{
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-bottom: 5vw;
  order: 4;
}
.seven {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-bottom: 5vw;
  order: 6;
}
.eight-nine {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 5vw;
  order: 5;
}

.ten-eleven {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: white;
}
  
.twelve {
  display: flex;
  justify-content: center;
  height: fit-content;
}

  .image1 {
    width: 100%;
    height: 60vw;
  }
  
  .image2 {
    width: 100%;
    height: 60vw;
  }
  
  .image3 {
  width: 100%;
  height: 60vw;
  }

  .image4 {
  width: 100%;
  height: 60vw;
  }

  #Maps {
  width: 90%;
  height: 40vw;
  }
}










