@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.offer-wrapper {
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  animation: fade-left 2s;
  margin-top: 125px;
}


@media screen and (min-width: 1300px) {
  .åbningstider {
    margin-bottom: 100px;
  }
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.image1 {
  width: 100%;
  height: 25vw;
}

.image2 {
  width: 100%;
  height: 25vw;
}

.image3 {
  width: 100%;
  height: 25vw;
}

.image4 {
  width: 100%;
  height: 25vw;
  border-bottom: 3px solid #000000;
}

/*
.grid-container > * {
  padding: 20px;
  border: 5px solid rgb(198,164,154);
  background-color: rgba(198,164,154,.2);
  border-radius: 5px;
}

.grid-container2 > * {
  padding: 20px;
  border: 5px solid rgb(198,164,154);
  background-color: rgba(198,164,154,.2);
  border-radius: 5px;
}
*/

.div-wrapper {
  margin-top: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 5vw;
  margin-right: 5vw;
}

.one {
  grid-column: 1/1;
  grid-row: 1/3;
  height: 25vw;
  box-shadow: -1px 0px 1px 0px rgb(0, 0, 0); /*Left and  top*/
}

.two-three {
  grid-column: 2 / span 3;
  grid-row: 1/3;
  text-align: center;
  height: 25vw;
  box-shadow: 1px 0px 1px 0px rgb(0, 0, 0); /*Right and  top*/
}

.four-five {
  grid-column: 1 / span 2;
  grid-row: 2/3;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 25vw;
  box-shadow: -1px 0px 0px 0px rgb(0, 0, 0); /*Left*/
}

.six{
  grid-column: 3/3;
  grid-row: 2/3;
  height: 25vw;
  box-shadow: 1px 0px 0px 0px rgb(0, 0, 0); /*Right*/
}

.seven {
  grid-column: 1/1;
  grid-row: 3/3;
  height: 25vw;
  box-shadow: -1px 0px 0px 0px rgb(0, 0, 0); /*Left*/
}

.eight-nine {
  grid-column: 2 / span 3;
  grid-row: 3/4;
  text-align: center;
  height: 25vw;
  box-shadow: 1px 0px 0px 0px rgb(0, 0, 0); /*Right*/
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  position: relative;
  margin-left: 5vw;
  margin-right: 5vw;
}

.ten-eleven {
  grid-column: 1 / span 2;
  grid-row: 1/1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 25vw;
  box-shadow: -1px 1px 0px 0px rgb(0, 0, 0); /*Left and bottom*/
  border-bottom: 3px solid #000000;
}

.twelve {
  grid-column: 3/3;
  grid-row: 1/1;
  height: 25vw;
  box-shadow: 1px 1px 0px 0px rgb(0, 0, 0); /*Right and bottom*/
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 150%;
}

.box h1 {
  font-size: 300%;
  color: #DDAA44;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}


@keyframes fade-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#Maps {
  width: 80%;
  height: 20vw;
  display: flex;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
.header {
  font-size: 2.2vw;
  top: 20vw;
}
.motto {
  font-size: 4vw;
  top: 30vw;
  width: 100%;
}
.offer-wrapper {
  margin: 0;
  top: 65vw;
  padding-top: 5vw;
  height: fit-content;
  padding-bottom: 5vw;
  margin-bottom: 25px;
}
.grid-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.grid-container2 {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.one {
  display: flex;
  justify-content: center;
  height: fit-content;
  order: 2;
  box-shadow: none;
  margin-top: -5vw;
}
.two-three {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  order: 1;
  animation: none;
  margin-bottom: 5vw;
  box-shadow: none;
}
.two-three h1, .two-three h2{
  animation: fade-right 2s;
}
.four-five {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 0vw;
  order: 3;
  box-shadow: none;
}
.six{
  display: flex;
  justify-content: center;
  height: fit-content;
  order: 4;
  box-shadow: none;
}
.seven {
  display: flex;
  justify-content: center;
  height: fit-content;
  order: 6;
  box-shadow: none;
}
.eight-nine {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  order: 5;
  box-shadow: none;
}

.ten-eleven {
  display: flex;
  justify-content: center;
  height: fit-content;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-bottom: none;
}
  
.twelve {
  display: flex;
  justify-content: center;
  height: fit-content;
  box-shadow: none;
}

  .image1, .image2, .image3, .image4 {
    width: 80%;
    height: 60vw;
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    border-bottom: none;
  }
  
  #Maps {
  width: 90%;
  height: 40vw;
  }
}












