img {
  max-width: 100%;
}

.site-main {
  margin-top: 5vw;
}

@media screen and (max-width: 1300px) {
.wrapper {
  min-height: 100%;
  margin-bottom: 500px;
  overflow: hidden;
  }
  .copyright-container {
  margin-bottom: 20px;
  }
}

@media screen and (min-width: 1300px) {
.mail-container, .phone-container {
  margin-bottom: 30px;
  }
}




