img {
  max-width: 100%;
}

.site-main {
  margin-top: 5vw;
}

@media screen and (max-width: 1300px) {
.wrapper {
  min-height: 100%;
  margin-bottom: 500px;
  overflow: hidden;
  }
}

@media screen and (min-width: 1300px) {
  .topnav.fixed {
  background-color: #0b0535;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s;
  z-index: 3;
  }
}
