img {
  max-width: 100%;
}

.topnav-button2 {
  color: #f2af47;
}

.site-main {
  margin-top: 5vw;
}

@media screen and (min-width: 1100px) {
  .mail-container {
margin-top: -5px;
  }
  .phone-container {
margin-top: -5px;
  }
  .single-post img {
    width: 50%;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
  min-height: 100%;
  margin-bottom: 500px;
  overflow: hidden;
  }
  .copyright-container {
    margin-top: 0px;
  }
  .single-post img {
    width: 80%;
  }
}




