<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/burgermenu.css">

    <script src="/js/script.js/"></script>
    
    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>


<script>
  $(document).ready(function(){
      $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
          $(this).toggleClass('open');
      });
  });
</script>


<body>

<div class="nav-icon4" id="nav-icon4" onclick="One();">
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="wrapper">

<header>
  <div class="topnav-container">
    
    <img class="topnav-image" src="/images/stationspladsen-hero-image.jpg" width="100%;"><img>
    
    <div class="welcome-text">
      <text class="header">
        <h1>Café Stationspladsen</h1>
      </text>
      <text class="motto">  
      - Nordisk designet café i hjertet af Køge
      </text>
    </div>
    
    
    <div class="topnav" id="myTopnav">
      <img class="topnav-logo" src="/images/stationspladsen-logo.jpg"><img>
    
      <div class="topnav-buttons">
        <button class="topnav-button1"><a href="/index.html/">Hjem</button></a>
        <button class="topnav-button2"><a href="/nyheder/">Nyheder</button></a>
        <button class="topnav-button3"><a href="/menu/">Menukort</button></a>
      </div>
    </div>
      
  </div>
</header>


<main class="site-main">
{{ block "main" . }}{{ end }}
</main>  

<div class="push"></div>

</div>


<footer>
  <div class="footer">
  
    <div class="mail-container">
      <text class="footer-btn1" style="padding: 0; margin-right: 10px;">cafestationspladsen@gmail.com</text>
      <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
    </div>
  
    <div class="phone-container">
      <a href="tel:+4560155071" style="color: rgb(255, 255, 255);">
      <text class="footer-btn2" style="padding: 0;">+45 60 15 50 71</text>
      <i class="fa-solid fa-phone fa-2x" style="color: rgb(255, 255, 255);"></i></a>
    </div>

    <div class="copyright-container">
      <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
      <text class="footer-btn3">2023 KAFF ApS. Alle rettigheder forbeholdes</text-class>
    </div>
  
    <div class="some-container">
      <a href="https://www.facebook.com/stationspladsen" target="_blank"> <i class="fa fa-facebook-square fa-2x" style="color: white;"></i></a>
      <a href="https://www.instagram.com/cafestationspladsen/" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style="color: white;"></i></a>
    </div>
  </div>
</footer>


</body>
</html>

<script>
  $(window).resize(function () {
  var viewportWidth = $(window).width();
  if (viewportWidth < 1300) {
  $(".topnav").removeClass("fixed");
  }
  });
</script>

<script>
  $(window).scroll(function(){
  if($(window).width() > 1100) {
  if($(window).scrollTop()){
  $('.topnav').addClass("fixed");
  }
  else{
  $('.topnav').removeClass("fixed");
  }
  }
  });
</script>