<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Café Stationspladsen</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

  <link rel="stylesheet" href="/css/headerfooter.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/burgermenu.css">

  <script src="/js/script.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/purecookie.css" async />
  <script src="/js/purecookie.js" async></script>

  <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>




<script>
  $(document).ready(function(){
      $('#nav-icon1,#nav-icon2,#nav-icon3,#nav-icon4').click(function(){
          $(this).toggleClass('open');
      });
  });
</script>

<body>

<div class="nav-icon4" id="nav-icon4" onclick="topnavResponsive();">
  <span></span>
  <span></span>
  <span></span>
</div>


<div class="wrapper">

<header>
<div class="topnav-container">

  <img class="topnav-image" src="/images/stationspladsen-hero-image.jpg" width="100%;"><img>

  <div class="welcome-text">
    <text class="header">
    <h1>Café Stationspladsen</h1>
    </text>
    <text class="motto">  
    - Nordisk designet café i hjertet af Køge
    </text>
  </div>


  <div class="topnav" id="myTopnav">
    <img class="topnav-logo" src="/images/stationspladsen-logo.jpg"><img>

    <div class="topnav-buttons">
      <button class="topnav-button1"><a href="/index.html/">Hjem</button></a>
      <button class="topnav-button2"><a href="/nyheder/">Nyheder</button></a>
      <button class="topnav-button3"><a href="/menu/">Menukort</button></a>
    </div>
  </div>
</div>
</header>

<main class="site-main">

<div class="offer-wrapper">
<h1 class="offer-text"><center>Hvad tilbyder vi?</center></h1>
<center><img class="offer-underline" src="/images/offer-underline.png" style="width:200px;"></img></center>
</div>



<div class="div-wrapper">
<div class="grid-container">

  <div class="box one">
    <img class="image1" src="/images/1.jpg"></img>
  </div>





  <div class="box two-three">
    <h2>Smørrebrød</h2>
    <h3>
    Valgfrit frisksmurt smørrebrød <br>
    1-200 stk. <br>
    38 kroner per styk 
    </h3>
  </div>


  <div class="box four-five">
    <div class="container reveal fade-left">
      <h2>Varme retter og kolde fadøl</h2>
      <h3>Hos os serveres der varme retter - eksempelvis frikadeller fra slagteren og bagerens tarteletter.
      <br> Dette kan nydes sammen med en kold fadøl</h3>
    </div>
  </div>




  <div class="box six">
    <img class="image2" src="/images/2.jpg"></img>
  </div>

  <div class="box seven">
   <img class="image3" src="/images/3.jpg"></img>
  </div>





  <div class="box eight-nine">
    <div class="container reveal fade-right">
      <h2>Forudbestil din mad</h2>
      <h3>
      Du kan med fordel forudbestille din mad, så den er klar, når du kommer<br><br>
      <div class="phone">
        <a href="tel:+4560155071" style="color: black;"
        >Ring 60 15 50 71
        <i class="fa-solid fa-phone" style="color: black;"></i></a>
        </h3>
      </div>
    </div>
  </div>

</div>

<div class="grid-container2">

  <div class="box ten-eleven">
    <div class="container reveal fade-left">
      <h2>Kaffe to-stay og to-go</h2>
      <h3>
        Stort udvalg af professionelt brygget baristakaffe. <br> Nyd den i caféens flotte omgivelser eller tag den med på farten
      </h3>
    </div>
  </div>
  
  <div class="box twelve">
    <img class="image4" src="/images/4.jpg"></img>
  </div>

</div>
</div>

<div class="control-report-wrapper">
<center>
  <div class="control-report">
      <img class="smiley" src="/images/smiley.png" style="margin-right: 2px;">
      <a href="https://www.findsmiley.dk/Sider/KontrolRapport.aspx?Virk2036116" target="_blank" style="margin-left: 2px;"><text class="control-report-text">Kontrolrapport</text></a>
  </div>
  </center>
  
  <style>
  .control-report {
  background-color: #fefee2;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 5px 10px 1px rgb(0, 0, 0);

  margin-bottom: 100px;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }
  </style>
<div style="width: 100%; height: 10px; margin-top: -100px; background-color: black;"></div>
</div>


<center><h1 style="width: 100%; color:#DDAA44; margin-top: 100px;">Find os</h1></center>

<center><h3>
  Stationspladsen 1 <br>
  4600 Køge <br>
  Danmark <i class="fa fa-map-marker" aria-hidden="true"></i>
</h3></center>
<div class="container reveal fade-bottom">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2262.287838203999!2d12.182971715919095!3d55.457648680475394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4652f19ebacae7d5%3A0x5e47320e4b1d81e8!2sCaf%C3%A9%20Stationspladsen!5e0!3m2!1sda!2sdk!4v1672610848215!5m2!1sda!2sdk" style="border:0;" allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="Maps"></iframe>
</div>

<center><div class="åbningstider">
  <h1 style="color: #DDAA44;">Åbningstider</h1>
  
    <div class="line-wrapper">
      <div class="line"></div>
      <center>
      <h3>
      Mandag: <br> 9:00 - 19:30  <br><br>
      </h3>
      </center>
      </div>
     
      <div class="line-wrapper">
      <div class="line"></div>
      <center>
      <h3>
      Tirsdag:<br> 9:00 - 19:30 <br><br>
      </h3>
      </center>
      </div>

      <div class="line-wrapper">
      <div class="line"></div>
      <center>
      <h3>
      Onsdag: <br>9:00 - 19:30 <br><br>
      </h3>
      </center>   
      </div>
     
      <div class="line-wrapper">
      <div class="line"></div>
      <center>
      <h3>
      Torsdag: <br>9:00 - 19:30 <br><br>
      </h3>
      </center>
      </div>
      
      <div class="line-wrapper">
      <div class="line"></div>
      <center>
      <h3>
      Fredag:<br> 9:00 - 19:30 <br><br>
      </h3>
      </center>
      </div>

      <div class="line-wrapper">
      <div class="line"></div>
      <center>
      <h3>
      Lørdag:<br> 9:00 - 17:00 <br><br>
      </h3>
      </center>
      </div>

      <div class="line-wrapper">
        <div class="line"></div>
        <center>
        <h3>
        Søndag:<br> 9:00 - 17:00 <br><br>
        </h3>
        </center>
        </div>
  </div>
</div></center>

</main>

<div class="push"></div>

</div>

<footer>
  <div class="footer">

    <div class="mail-container">
      <text class="footer-btn1" style="padding: 0; margin-right: 10px;">cafestationspladsen@gmail.com</text>
      <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
    </div>

    <div class="phone-container">
      <a href="tel:+4560155071" style="color: rgb(255, 255, 255);">
      <text class="footer-btn2" style="padding: 0;">+45 60 15 50 71</text>
      <i class="fa-solid fa-phone fa-2x" style="color: rgb(255, 255, 255);"></i></a>
    </div>

    <div class="copyright-container">
      <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
      <text class="footer-btn3">2023 KAFF ApS. Alle rettigheder forbeholdes</text-class>
    </div>

    <div class="some-container">
      <a href="https://www.facebook.com/stationspladsen" target="_blank"> <i class="fa fa-facebook-square fa-2x" style="color: white;"></i></a>
      <a href="https://www.instagram.com/cafestationspladsen/" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style="color: white;"></i></a>
    </div>
  </div>
</footer>

</body>
</html>

<script>
  $(window).resize(function () {
  var viewportWidth = $(window).width();
  if (viewportWidth < 1100) {
  $(".topnav").removeClass("fixed");
  }
  });
</script>

<script>
  $(window).scroll(function(){
  if($(window).width() > 1100) {
  if($(window).scrollTop()){
  $('.topnav').addClass("fixed");
  }
  else{
  $('.topnav').removeClass("fixed");
  }
  }
  });
</script>





