<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Café Stationspladsen </title>

    <link rel="stylesheet" href="/css/bootstrap.min.css/">
    <link rel="stylesheet" href="/css/headerfooter.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="https://kit.fontawesome.com/5e2cb9f1be.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>


<script>
    $(function() {$("#myIcon").click(function() {
    $('.rotate').toggleClass("down");
    });
    });
</script>



<body>


<div class="wrapper">


<header>
    <div class="topnav-container">
          
        <img class="topnav-image" src="/images/stationspladsen-hero-image.jpg" width="100%;"><img>
          
            
          
          
        <div class="topnav" id="myTopnav">
            <img class="topnav-logo" src="/images/stationspladsen-logo.jpg"><img>
            
            <div class="topnav-buttons">
                <button class="topnav-button1"><a href="/index.html/">Hjem</button></a>
                <button class="topnav-button2 btn-active"><a href="/nyheder/">Nyheder</button></a>
                <button class="topnav-button3"><a href="/menukort.html">Menukort</button></a>
            </div>
        </div>
            
          
          
          <!--Kilde: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp-->
        <a href="javascript:void(0);" class="icon rotate" id="myIcon" onclick="One();">
        <i class="fa fa-bars fa-2x"></i></a>
    </div>
</header>


<br>

<main class="site-main">
    <div class="container">
        <section class="post-list">
            {{ range .Paginator.Pages }}
            <article class="single-post border-bottom pb-4">
                <h2 class="entry-title mb-4">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>

                <div class="post-meta mb-4">
                    <span class="post-author"> Slået op af: {{ .Params.author }} |</span>
                    <span class="post-date">
                        <time>{{ dateFormat .Site.Params.dateFormat .Date }} |</time>
                    </span>
                    <span class="post-tags">
                        Tags:
                        {{ range (.GetTerms "tags") }}
                            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        {{ end }}
                    </span>
                </div>
                <div class="entry-content">
                    {{ .Summary }}
                    {{ if .Truncated }}
                    <a href="{{ .RelPermalink }}">Læs mere...</a>
                    {{ end }}
                </div>
            </article>
            {{ end }}
            <div class="pt-4">
                {{ template "_internal/pagination.html" . }}
            </div>
        </section>
    </div>   
</main>


<div class="push"></div>

</div>


<footer>
    <div class="footer">
  
      <div class="mail-container">
            <text class="footer-btn1" style="padding: 0; margin-right: 10px;">cafestationspladsen@gmail.com</text>
            <a href="mailto:cafestationspladsen@gmail.com"> <i class="fa-solid fa-envelope fa-2x" style="color: white;"></i></a>
      </div>
  
      <div class="phone-container">
            <a href="tel:+4560155071" style="color: rgb(255, 255, 255);">
            <text class="footer-btn2" style="padding: 0;">+45 60 15 50 71</text>
            <i class="fa-solid fa-phone fa-2x" style="color: rgb(255, 255, 255);"></i></a>
      </div>

      <div class="copyright-container">
            <i class="fas fa-copyright" style="color: white; margin-right: 5px;"></i>
            <text class="footer-btn3">2023 KAFF ApS. Alle rettigheder forbeholdes</text-class>
      </div>
  
      <div class="some-container">
            <a href="https://www.facebook.com/stationspladsen" target="_blank"> <i class="fa fa-facebook-square fa-2x" style="color: white;"></i></a>
            <a href="https://www.instagram.com/cafestationspladsen/" target="_blank"> <i class="fa-brands fa-instagram fa-2x" style="color: white;"></i></a>
      </div>
    </div>
</footer>


<script src="/js/bootstrap.min.js/"></script>
</body>
</html>

<script>
    $(window).resize(function () {
    var viewportWidth = $(window).width();
    if (viewportWidth < 1300) {
    $(".topnav").removeClass("fixed");
    }
    });
</script>

<script>
    $(window).scroll(function(){
    if($(window).width() > 1300) {
    if($(window).scrollTop()){
    $('.topnav').addClass("fixed");
    }
    else{
    $('.topnav').removeClass("fixed");
    }
    }
    });
</script>
