{{ define "main" }}

<head>
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/headerfooter.css">
</head>


<style>
  .topnav-button3 a:link, .topnav-button3 a:visited {
    color: #f2af47;
  }

  .topnav-button3 a:hover {
    color: #ffffff;
  }
</style>

<section class="grid-container">    
    <div class="box one">
      <image class="menukort1" img src="/images/menukort1.jpg"></image>
    </div>
      
    <div class="box two">
      <image class="menukort2" img src="/images/menukort2.jpg"></image>
    </div>
</section>
{{ end }}